lio_ip:{
# Название ядра
name: "",
# Список стандарных интерфейсов. Допустимые значения typ_value: axi4, axil, axil_regs. 
ifc_list: [{prefix: "pfx_value", type: "typ_value"}],
# Список шаблонов TB, которые необходимо сгенерировать. Допустимые значения cocotb, sv, sysc, verilator_c. 
tb: [],
# Список используемых ядер. Если не используются данное поле определять не следует.
cores: [],
# Список файлов с RTL кодом на языке Verilog (SystemVerilog), кроме генерируемого по умолчанию $(name).sv
vlog_files: [],
# Список файлов с RTL кодом на языке VHDL, кроме генерируемого по умолчанию $(name).sv
vhdl_files: [],
# Python файлы для cocotb тестового окружения, кроме генерируемого по умолчанию cocotb модуля $(name)_test.py
py_files: [],
# C файлы для пакета программной поддержки
c_files: []
}
